body {
  background-color: var(--color-bg);
}

.product-btn {
  gap: 2em;
}

.product-btn button {
  background-color: var(--color-primary);
  color: #000;
  font-weight: 600;
  padding: 15px 35px;
  border-radius: 10px;
  font-size: 1rem;
  transition: all 0.3s ease;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-btn button:hover {
  background-color: rgb(0, 136, 255);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 217, 255, 0.3);
  color: #000;
}

.product-card {
  background-color: white;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  margin-bottom: 25px;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card .card-img-top {
  transition: transform 0.5s ease;
}

/* .product-card:hover .card-img-top {
  transform: scale(1.1);
} */

.card-title {
  color: #333;
  font-weight: 700;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

.card-text {
  color: #666;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: var(--color-primary);
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-hover);
  transform: scale(1.05);
}
