.bg-custom {
  background-color: #1a1f3a;
}
:root {
  --color-bg: #1a1f3a;
  --color-primary: #00d9ff;
  --color-hover: #00b8d9;
  --color-border: #4674be;
  --color-secondary: #7ba3af;
  --color-text: #e5e7e0;
}
.bg-custom {
  background-color: var(--color-bg);
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-text);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}
.navbar-brand span {
  color: var(--color-primary);
}

.navbar-brand:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.navbar-logo {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.nav-link {
  color: rgba(229, 231, 224, 0.8);
  transition: color 0.2s;
}

.nav-link:hover,
.nav-link.active {
  color: var(--color-primary);
}

.hero {
  background-color: var(--color-bg);
  min-height: 60vh;
  padding: 80px 0;
  display: flex;
  align-items: center;
  background-image: url("../assets/bg.jpg");
}

.text-primary-custom {
  color: var(--color-primary) !important;
}

.hero-description {
  font-size: 1.5rem;
  color: var(--color-secondary);
  line-height: 1.4;
  max-width: 800px;
  font-weight: 400;
}

.btn-hero {
  background-color: var(--color-primary);
  color: #000;
  font-weight: 600;
  padding: 15px 35px;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  border: none;
  display: inline-flex;
  align-items: center;
  
}

.btn-hero:hover {
  background-color:var(--color-hover);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 217, 255, 0.3);
  color: #000;
}

.btn-hero i {
  font-size: 1rem;
}

.navbar {
  border-bottom: 2px solid var(--color-border);
}

footer {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 2rem 0;
  text-align: center;
  position: relative;
  border-top: 2px solid var(--color-border);
  
}

.social-icons a {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--color-primary) !important;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* height: 50vh; */
  padding: 90px 0;

  border: 1px solid var(--color-border);
  border-radius: 10px;
}

.login-form   button,
.register-form  button {
  background-color: var(--color-primary);
  color: #000;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  
}

.login-form button:hover,
.register-form button:hover {
  color: #000;
  background-color: var(--color-hover);
  
}
.login-form .word,
.register-form  .word{
  color: var(--color-primary);

} 
.login-form .word:hover,
.register-form  .word:hover{
  color: var(--color-hover);

} 
